<!DOCTYPE html>
<html>
    <head>
        <title>New Sails App</title>
        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <!--
        Stylesheets and Preprocessors
        ==============================
        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).
        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
        
        + Change the order of your CSS files
        + Import stylesheets from other directories
        + Use a different or additional preprocessor, like SASS, SCSS or Stylus
        -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <!--STYLES-->
        <link rel="stylesheet" href="/styles/importer.css">
        <link rel="stylesheet" href="/styles/jquery-ui.min.css">
        <link rel="stylesheet" href="/styles/jquery-ui.structure.min.css">
        <link rel="stylesheet" href="/styles/jquery-ui.theme.min.css">
        <link rel="stylesheet" href="/styles/jquery.datetimepicker.css">
        <!--STYLES END-->
    </head>
    <body>
        
        <div class="jumbotron" style="height:1000px">
            <div class="container"><%- body %></div></div>
            
            <!--
            Client-side Templates
            ========================
            HTML templates are important prerequisites of modern, rich client applications.
            To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
            that you load these templates client-side.
            By default, your Gruntfile is configured to automatically load and precompile
            client-side JST templates in your `assets/templates` folder, then
            include them here automatically (between TEMPLATES and TEMPLATES END).
            
            To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
            For example, here are a few things you could do:
            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
            stringfile before they're served.
            -->
            <!--TEMPLATES-->
            
            <!--TEMPLATES END-->
            <!--
            Client-side Javascript
            ========================
            You can always bring in JS files manually with `script` tags, or asynchronously
            on the client using a solution like AMD (RequireJS).  Or, if you like, you can
            take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).
            By default, files in your `assets/js` folder are included here
            automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
            CoffeeScript (.coffee) are supported. In production, your scripts will be minified
            and concatenated into a single file.
            
            To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
            For example, here are a few things you could do:
            
            + Change the order of your scripts
            + Import scripts from other directories
            + Use a different preprocessor, like TypeScript
            -->
            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
            <!--SCRIPTS-->
            <script src="/js/dependencies/sails.io.js"></script>
            <script src="/js/jquery-ui.js"></script>
            <script src="/js/jquery-ui.min.js"></script>
            <script src="/js/jquery.datetimepicker.js"></script>
            <!--SCRIPTS END-->
        </body>
    </html>