<!DOCTYPE html>
<html>
    <head>
        <title>New Sails App</title>
        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <!--
        Stylesheets and Preprocessors
        ==============================
        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).
        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
        
        + Change the order of your CSS files
        + Import stylesheets from other directories
        + Use a different or additional preprocessor, like SASS, SCSS or Stylus
        -->
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <!--STYLES-->
        <link rel="stylesheet" href="/styles/importer.css">
        <link rel="stylesheet" href="/styles/jquery-ui.min.css">
        <link rel="stylesheet" href="/styles/jquery-ui.structure.min.css">
        <link rel="stylesheet" href="/styles/jquery-ui.theme.min.css">
        <link rel="stylesheet" href="/styles/jquery.datetimepicker.css">
        <!--STYLES END-->
        <script src="/js/jquery-ui.js"></script>
        <script src="/js/jquery-ui.min.js"></script>
        <script src="/js/jquery.datetimepicker.js"></script>
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script>
        //http://xdsoft.net/jqplugins/datetimepicker/
        $(function() {
        $( "#datepicker" ).datepicker();
        });
        // format:'d/m/Y H:i a',
        $(function() {
        $( "#datetimepicker" ).datetimepicker({
        lang:'th',
        format:'d/m/Y H:i a',
        timepicker:true
        });
        });
        $(function() {
        $( "#datetimepicker2" ).datetimepicker({
        lang:'th',
        format:'H:i a',
        datepicker:false
        });
        });
        $(function() {
        $( "#datetimepicker3" ).datetimepicker({
        lang:'th',
        format:'H:i a',
        datepicker:false
        });
        });
        </script>
        <style>
        /* css for timepicker */
        .clear{ clear: both; }
        #ui-datepicker-div, .ui-datepicker{ font-size: 80%; }
        .ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
        .ui-timepicker-div dl { text-align: left; }
        .ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
        .ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
        .ui-timepicker-div td { font-size: 90%; }
        .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-default ">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">ZocialPRINT</a>
                    <form class="navbar-form navbar-left" role="search" action="/attendance/index">
                        <button type="submit" class="btn btn-default">Check</button>
                    </form>
                    <form class="navbar-form navbar-left" role="search" action="/staff/index">
                        <button type="submit" class="btn btn-default">Staff</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="jumbotron" style="height:1000px">
            <div class="container"><%- body %></div></div>
            
            <!--
            Client-side Templates
            ========================
            HTML templates are important prerequisites of modern, rich client applications.
            To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
            that you load these templates client-side.
            By default, your Gruntfile is configured to automatically load and precompile
            client-side JST templates in your `assets/templates` folder, then
            include them here automatically (between TEMPLATES and TEMPLATES END).
            
            To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
            For example, here are a few things you could do:
            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
            stringfile before they're served.
            -->
            <!--TEMPLATES-->
            
            <!--TEMPLATES END-->
            <!--
            Client-side Javascript
            ========================
            You can always bring in JS files manually with `script` tags, or asynchronously
            on the client using a solution like AMD (RequireJS).  Or, if you like, you can
            take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).
            By default, files in your `assets/js` folder are included here
            automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
            CoffeeScript (.coffee) are supported. In production, your scripts will be minified
            and concatenated into a single file.
            
            To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
            For example, here are a few things you could do:
            
            + Change the order of your scripts
            + Import scripts from other directories
            + Use a different preprocessor, like TypeScript
            -->
            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
            <!--SCRIPTS-->
            <script src="/js/dependencies/sails.io.js"></script>
            <script src="/js/jquery-ui.js"></script>
            <script src="/js/jquery-ui.min.js"></script>
            <script src="/js/jquery.datetimepicker.js"></script>
            <!--SCRIPTS END-->
        </body>
    </html>