<form action="/attendance/create" method="post" accept-charset="utf-8">
	<select class="selectpicker" data-style="btn-info" name="selectpicker">
		<optgroup label="Select Table">
			
			<% _.each(staffs,function (staff) {%>
			<option name="table1" value="<%= staff.id %>"><%=staff.name %></option>
			<%	}) %>
			
		</optgroup>
	</select>
	<input type="text" id="datetimepicker" name="date" value="" placeholder="date"><br>
	
	<input type="radio" name="status" value="normal" checked> normal <br>
	<input type="radio" name="status" value="late" > late <input type="text" id="datetimepicker3" name="time" value="" placeholder="time"><br><br>

	<input type="radio" name="status" value="sick leave"> sick leave<br>
	<input type="radio" name="status" value="personal leave"> personal leave<br>
	<input type="radio" name="status" value="leave"> leave<br>
	<input type="radio" name="status" value="other"> other<input type="text" name="other" value="" placeholder="other"><br>
	
	<button type="submit">create</button>
</form>