<form action="/attendance/update/<%=attendance.id %>" method="post" accept-charset="utf-8">
	<label for="">Name</label>
	<input type="text" name="" value="<%=attendance.name%>" placeholder="" disabled>
	<label for="">Date</label>
	<input type="text" id="datetimepicker" name="date" value="<%=attendance.date %>" placeholder="">
	<label for="">Other</label>
	<input type="text" name="other" value="<%=attendance.other %>" placeholder="หมายเหตุ"><br>
	<label for="">Status</label><br>

	<% if(attendance.status=="late"){ %>
	<input type="radio" name="status" value="normal" > normal<br>
	<input type="radio" name="status" value="late" checked> late<br>
	<input type="radio" name="status" value="sick leave"> sick leave<br>
	<input type="radio" name="status" value="personal leave"> personal leave<br>
	<input type="radio" name="status" value="leave"> leave<br>
	<input type="radio" name="status" value="other"> other<br>
	<% } %>
	<% if(attendance.status=="sick leave"){ %>
	<input type="radio" name="status" value="normal" > normal<br>
	<input type="radio" name="status" value="late" > late<br>
	<input type="radio" name="status" value="sick leave" checked> sick leave<br>
	<input type="radio" name="status" value="personal leave"> personal leave<br>
	<input type="radio" name="status" value="leave"> leave<br>
	<input type="radio" name="status" value="other"> other<br>
	<% } %>
	<%  if(attendance.status=="personal leave"){ %>
	<input type="radio" name="status" value="normal" > normal<br>
	<input type="radio" name="status" value="late" > late<br>
	<input type="radio" name="status" value="sick leave"> sick leave<br>
	<input type="radio" name="status" value="personal leave" checked> personal leave<br>
	<input type="radio" name="status" value="leave"> leave<br>
	<input type="radio" name="status" value="other"> other<br>
	<% } %>
	<% if(attendance.status=="leave"){ %>
	<input type="radio" name="status" value="normal" > normal<br>
	<input type="radio" name="status" value="late" > late<br>
	<input type="radio" name="status" value="sick leave"> sick leave<br>
	<input type="radio" name="status" value="personal leave"> personal leave<br>
	<input type="radio" name="status" value="leave" checked> leave<br>
	<input type="radio" name="status" value="other"> other<br>
	<% } %>
	<% if(attendance.status=="other"){ %>
	<input type="radio" name="status" value="normal" > normal<br>
	<input type="radio" name="status" value="late" > late<br>
	<input type="radio" name="status" value="sick leave"> sick leave<br>
	<input type="radio" name="status" value="personal leave"> personal leave<br>
	<input type="radio" name="status" value="leave"> leave<br>
	<input type="radio" name="status" value="other" checked> other<br>
	<% } %>
	<% if(attendance.status=="normal"){ %>
	<input type="radio" name="status" value="normal" checked> normal<br>
	<input type="radio" name="status" value="late" > late<br>
	<input type="radio" name="status" value="sick leave"> sick leave<br>
	<input type="radio" name="status" value="personal leave"> personal leave<br>
	<input type="radio" name="status" value="leave"> leave<br>
	<input type="radio" name="status" value="other" > other<br>
	<% } %>
	
	
	
	<button type="submit">update</button>
</form>