<div>Hi : <%= user.username %></div>
<form action="/attendance/add" method="post" accept-charset="utf-8">
	<button type="submit" >Check</button>
</form>
<table class="table table-condensed">
	<!-- On rows -->
	<tr class="info"><td class="info">Name</td><td class="info">status</td><td class="info">Date</td><td class="info">Other</td><td class="info"></td><td class="info"></td></tr>
	
	<% _.each(attendance,function (item) {%>
	<tr class="active">
		<td class="active"><%=item.name %></td>
		<td class="active"><%=item.status%><% if(item.status=="late"){%>  <%=item.time %>  <%}%></td>
		<td class="active"><%=item.date %></td>
		<td class="active"><%=item.other %></td> 
		<td class="active"><a class="btn btn-warning" type="button" href="/attendance/edit/<%=item.id %>">Edit</a></td>
		<td class="active"><a class="btn btn-warning" type="button" href="/attendance/delete/<%=item.id %>">Delete</a></td>
	</tr>
	<% }); %>
	
</table>