<form action="/users/verify" method="post" accept-charset="utf-8" class="input-group-addon">
	<div class="form-group">
	สวัสดี
		<label >Username</label>
		<input     placeholder="Enter username" name="username" value="kavita">
	</div>
	<div class="form-group">
		<label  >Password</label>
		<input type="password"  placeholder="Password" name="password" value="12345678">
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary"  >Login</button>
	</div>
</form>