<form action="/staff/create" method="post" accept-charset="utf-8">
	<input type="text" name="name" value="" placeholder="name">
	<input type="text" name="position" value="" placeholder="position">
	<input type="text" name="other" value="" placeholder="other">
	<button type="submit">create</button>
</form>