<form action="/staff/update/<%=staff.id%>" method="post" accept-charset="utf-8">
	<input type="text" name="name" value="<%=staff.name%>" placeholder="name">
	<input type="text" name="position" value="<%=staff.position%>" placeholder="position">
	<input type="text" name="other" value="<%=staff.other%>" placeholder="other">
	<button type="submit">update</button>
</form>