<div>Hi : <%= user.username %></div>
<form action="/staff/add" method="post" accept-charset="utf-8">
	<button type="submit" >add</button>
</form>
<table class="table table-condensed">
	<!-- On rows -->
	<tr class="info"><td class="info">Name</td><td class="info">Position</td><td class="info">Other</td><td class="info"></td><td class="info"></td></tr>
	
	<% _.each(staffs,function (staff) {%>
	<tr class="active">
		<td class="active"><%=staff.name %></td>
		<td class="active"><%=staff.position %></td>
		<td class="active"><%=staff.other %></td>
		<td class="active"><a class="btn btn-warning" type="button" href="/staff/edit/<%=staff.id %>">Edit</a></td>
		<td class="active"><a class="btn btn-warning" type="button" href="/staff/delete/<%=staff.id %>">Delete</a></td>
	</tr>
	<% }); %>
	
</table>